.banner {
  background: var(--azul-degrade);
  color: var(--branco);
  padding: 2.5em 2em;
  text-align: center;
}

.banner__titulo {
  font-size: 18px;
  font-weight: 700;
}

.banner__texto {
  font-weight: 500;
  margin: 1em 0;
}

.banner__pesquisa {
  background-color: transparent;
  border: 1px solid var(--branco);
  border-radius: 24px;
  color: var(--branco);
  padding: 1em;
  width: 100%;
}

.banner__pesquisa::placeholder {
  background: url(../img/Pesquisa.svg) no-repeat 1em;
  color: var(--branco);
  font-family: var(--font-principal);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .banner__titulo {
    font-size: 36px;
  }

  .banner__pesquisa {
    width: 50%;
  }

  .banner__pesquisa::placeholder {
    background-position: 7em;
  }
}

@media screen and (min-width: 1728px) {
  .banner__pesquisa {
    width: 38%;
  }

  .banner__pesquisa::placeholder {
    background-position: 11.5em;
  }
}
