.carrossel__titulo {
  background-color: var(--branco);
  color: var(--laranja);
  font-size: 18px;
  font-weight: 700;
  padding: 1em 0 0.5em 0;
  text-align: center;
  text-transform: uppercase;
}

.swiper-slide img {
  width: 100%;
}

.swiper-button-prev, .swiper-button-next {
  display: none;
}

.swiper-pagination {
  position: initial;
  margin: 0.5em 0;
}

.card {
  background: var(--branco);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 1em;
  padding: 1em;
}

.card__estrelas {
  margin-bottom: 0.5em;
}

.card__descricao {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.descricao__titulo {
  color: var(--laranja);
  font-weight: 700;
}

.descricao__titulo-livro {
  color: var(--azul);
  font-size: 18px;
  font-weight: 700;
  margin: 0.5em 0;
}

.descricao__texto {
  font-size: 14px;
}

.card__botoes {
  display: flex;
  justify-content: space-between;
}

.botoes {
  display: flex;
}

.botoes__item {
  margin: 0 0.5em;
}

.botoes__ancora {
  background-color: var(--laranja);
  color: var(--branco);
  font-weight: 700;
  padding: 1em 2.2em;
  text-decoration: none;
}

@media screen and (min-width:1024px) {
  .carrossel__titulo {
    font-size: 26px;
  }

  .swiper-pagination {
    margin: 2em 0 3em 0;
  }

  .swiper {
    width: 60%;
  }

  .swiper-button-prev, .swiper-button-next {
    display: block;
    top: 60%;
  }

  .card {
    width: 40%;
    margin: 2em auto;
  }

  .botoes__item:hover {
    border-radius: 50%;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }

  .botoes__item:active {
    background-color: var(--cinza-clarinho);
  }

  .botoes__ancora:hover, .topicos__link:hover {
    background-color: var(--amarelo);
    color: var(--preto);
  }

  .botoes__ancora:active, .topicos__link:active {
    background-color: var(--laranja-escuro);
  }
}

@media screen and (min-width: 1728px) {
  .carrossel__container {
    align-items: center;
    display: flex;
    margin: 0 20vw 3em 20vw;
  }

  .swiper {
    width: 50%;
  }

  .swiper-pagination {
    margin: 1em 0;
  }

  .card {
    margin-left: 3em;
    width: 60%;
  }

  .descricao {
    margin-right: 2em;
  }

  .descricao__titulo {
    font-size: 32px;
  }

  .descricao__texto {
    font-size: 16px;
  }
}
