hr {
  margin: 0;
}

.rodape {
  background-color: var(--branco);
  padding: 1em;
}

.lista-rodape {
  display: none;
}

@media screen and (min-width: 1024px) {
  .rodape {
    display: flex;
    justify-content: space-around;
  }
  
  .lista-rodape {
    display: block;
  }

  .rodape__titulo {
    font-size: 24px;
  }

  .lista-rodape__titulo {
    color: var(--cinza-claro);
    font-size: 14px;
  }

  .lista-rodape__item {
    align-items: center;
    display: flex;
    margin: 0.6em 0;
  }

  .lista-rodape__link {
    color: var(--cinza);
    margin-left: 0.6em;
    text-decoration: none;
  }
}
