@import url("header.css");

:root {
  --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
  --branco: #fff;
  --cor-de-fundo: #ebecee;
  --laranja: #eb9b00;
  --fonte-principal: "Poppins";
}

body {
  background-color: var(--cor-de-fundo);
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 400;
}