@import url("header.css");

:root {
  --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
  --branco: #fff;
  --cor-de-fundo: #ebecee;
  --laranja: #eb9b00;
}

body {
  background-color: var(--cor-de-fundo);
}