body {
    background-color: #ffffff;
}
#banner {
    width: 100%;
}
.principal {
    background-color: #CCCCCC;
    padding: 30px;
}
.titulo-principal {
    padding-left: 20px;
}
.titulo-centralizado {
    text-align: center;
}
p {
    text-align: center;
}
#missao {
    font-size: 20px;
}
em strong {
    color: red;
}

.beneficios {
    background-color: #ffffff;
    padding: 20px;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.itens {
    font-style: italic;
}
.imagemBeneficios {
    width: 50%;
}