.cartao-de-video {
  margin-bottom: 2rem;
}

.cartao-de-video__video {
  max-height: 17.5rem;
  margin-bottom: .5rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.cartao-de-video__video::before {
  background-color: var(--branco);
  background-image: url(../../img/icones/play.svg);
  background-position: center left 55%;
  background-repeat: no-repeat;
  background-size: 1.75rem;
  border-radius: 50%;
  content: "";
  display: block;
  height: 4.875rem;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 4.875rem;
}

.cartao-de-video__titulo {
  color: var(--preto);
  font-size: var(--tamanho-destaque);
  font-weight: var(--peso-destaque);
  margin-bottom: .5rem;
}
