body {
    margin: 0;
    padding: 0;
    border: 0;
}


/* Header */

header {
    background-color: #BBBBBB;
    padding: 20px 0px;
    height: 130px;
}
.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
.titulo-principal {
    color: #000000;
    font-weight: bold;
    padding-left: 20px;
    font-size: 30px;
    display: inline;
    position: absolute;
    top: 30px;
}
nav{
    position: absolute;
    top: 40px;
    right: 0;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}
nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}


/* Main */

main{
    background-color: #CCCCCC;
}
#banner {
    width: 100%;
}
.principal {
    padding: 30px;
    width: 940px;
    margin: 0 auto;
}
.titulo-centralizado {
    text-align: center;
}
p {
    text-align: center;
}
#missao {
    font-size: 20px;
}
em strong {
    color: red;
}
.secundario {
    background-color: #ffffff;
}
.beneficios {
    width: 940px;
    margin: 0 auto;
    padding: 20px;
}
.titulo3 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.lista {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.itens {
    font-style: italic;
}
.imagemBeneficios {
    width: 50%;
}

/* footer */
footer {
    text-align: center;
    background: url("../imagens/bg.jpg");
    padding: 40px 0;
}
.copyright {
    color: #ffffff;
}