.sobre__texto {
    color: #595959;
    font-weight: 100;
}

@media screen and (min-width: 0) {
    .sobre__texto {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 768px) {
    .sobre__texto {
        font-size: 1.75rem;
    }
}