.botao {
  background-color: #FFCB47;
  box-shadow: 10px 10px 30px #FFCB473D;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  width: 100%;
}