.lista-item {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.item {
  align-items: center;
  display: flex;
  margin-bottom: 1rem;
  width: 15rem;
}

.item__icone {
  background-color: var(--amarelo);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.375rem;
  border-radius: 50%;
  display: block;
  height: 3.25rem;
  margin-right: 1rem;
  width: 3.25rem;
}

.item__icone--cursor {
  background-image: url(../../img/icones/mouse.svg);
}

.item__icone--carrinho {
  background-image: url(../../img/icones/cart.svg);
}

.item__icone--caminhao {
  background-image: url(../../img/icones/truck.svg);
}
