.botao {
  background-color: var(--amarelo);
  border: 0;
  box-shadow: 10px 10px 30px #FFCB473D;
  color: var(--branco);
  font-family: inherit;
  font-weight: 700;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  width: 100%;
}