@import url(_variaveis.css);
@import url(_reset.css);

body {
  background-image: url(../../img/fundo-textura.png), url(../../img/fundo-linhas.png);
  background-position: center;
  font-family: var(--familia-corpo);
  font-size: var(--tamanho-corpo);
}

.container {
  padding-right: 1rem;
  padding-left: 1rem;
}
