.chamada {
  background-image: url(../../assets/img/splash-chamada.svg);
  background-position: top -4rem right;
  background-repeat: no-repeat;
  padding-top: 2.5rem;
  position: relative;
  margin-bottom: 2.5rem;
}

.chamada__texto {
  margin-bottom: 1.55rem;
  width: 12.5rem;
}

.chamada__imagem {
  position: absolute;
  right: 0;
  top: 3.25rem;
}

.chamada__formulario {
  position: relative;
  z-index: 2;
}
