@import url(_variaveis.css);
@import url(_reset.css);

body {
  background-image: url(../../img/fundo-textura.png), url(../../img/fundo-linhas.png);
  background-position: center;
  color: var(--cinza);
  font-family: var(--familia-corpo);
  font-size: var(--tamanho-corpo);
}

.container {
  padding-right: 1rem;
  padding-left: 1rem;
}

.titulo {
  font-size: var(--tamanho-titulo);
}

.titulo--destaque {
  color: var(--preto);
  display: block;
  font-family: var(--familia-titulo-destaque);
  font-size: var(--tamanho-titulo-destaque);
  font-weight: var(--peso-titulo-destaque);
  margin-top: .75rem;
  margin-bottom: .75rem;
}

.alinhamento-esquerda {
  text-align: left;
}

.alinhamento-meio {
  text-align: center;
}

.texto {
  line-height: 26px;
}
