.cabecalho {
    color: var(--branco);
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: .75rem;
    padding-bottom: .75rem;
    border-bottom: 1px solid var(--borda-cabecalho-mobile);
    position: absolute;
}

.cabecalho__logo {
    margin-bottom: 1rem;
}

.cabecalho__navegacao {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cabecalho__link {
    font-size: 1.1rem;
    margin-right: .7rem;
    margin-bottom: 1.25rem;
    margin-left: .7rem;
}