:root {
  --botao-azul: #167bf7;
  --botao-azul-efeito: #3c92fa;
  --branco-principal: #ffffff;
  --cinza-secundario: #c0c0c0;
  --cor-de-fundo: #00030c;
  --font-principal: 'Inter';
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco-principal);
  font-family: var(--font-principal);
  font-size: 16px;
  font-weight: 400;
}

.principal {
  align-items: center;
  background-image: url(../img/Background.png);
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
}

.container__caixa {
  margin: 0 6em;
}

.container__titulo {
  font-size: 28px;
  font-weight: 700;
}

.container__imagem {
  margin: 1em 0 2em 0;
}

.container__botao {
  background-color: var(--botao-azul);
  border-radius: 5px;
  color: var(--branco-principal);
  display: block;
  margin-bottom: 1em;
  padding: 1em;
  text-decoration: none;
}

.container__botao:hover {
  background-color: var(--botao-azul-efeito);
  color: var(--cor-de-fundo);
  
} 

.botao_secundario {
  background-color: transparent;
  border: 2px solid var(--branco-principal);
}

.container__aviso {
  color: var(--cinza-secundario);
  font-size: 12px;
}

.secundario__imagem {
  width: 80%;
}

.secundario {
  align-items: center;
  margin: 0 10em;
}

.descricao__titulo {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 0.1em;
}

.descricao__texto {
  color: var(--cinza-secundario);
}

.secundario__botao {
  display: inline-block;
  margin-top: 1em;
}

.container__descricao {
  padding: 1.79em;
}

.dispositivos {
  text-align: center;
}

.dispositivos__titulo {
  font-size: 48px;
  font-weight: 700;
}

.dispositivos__lista {
  color: var(--branco-principal);
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 5em 0;
}

.lista__item {
  color: var(--branco-principal);
  font-size: 32px;
}

.rodape {
  margin: 5em 3em;
  text-align: center;
}

.rodape__imagem {
  margin-top: 4em;
  margin-bottom: 1em;
}

.rodape__lista {
  display: flex;
  margin: 2em;
}

.rodape__lista a {
  color: var(--branco-principal);
  font-size: 16px;
  margin-left: 1em;
  text-decoration: none;
}

.rodape__lista a:hover {
  color: var(--botao-azul);
}

.rodape__lista a:active {
  color: purple;
}

.rodape__texto {
  color: var(--cinza-secundario);
  font-size: 14px;
  margin-bottom: 2em;
}
