:root {
  --branco-principal: #ffffff;
  --cinza-secundario: #c0c0c0;
  --botao-azul: #167bf7;
  --cor-de-fundo: #00030c;
}

body {
  background-color: var(--cor-de-fundo);
}

.titulo-principal {
  color: var(--branco-principal);
}

.principal {
  background-image: url(../img/Background.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  height: 100vh;
}
