.botao {
  background-color: var(--amarelo);
  border: none;
  box-shadow: 10px 10px 30px var(--amarelo-transparente);
  color: var(--branco);
  font-family: inherit;
  font-weight: var(--peso-botao);
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  text-align: center;
  width: 100%;
}

.botao--alternativo {
  background-color: unset;
  border: 1px solid var(--amarelo);
  box-shadow: none;
  color: var(--amarelo);
}
