.pessoa__imagem {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin: 0 auto;
}

.pessoa__imagem--roberta {
    background-image: url(../../img/pessoas/roberta.jpg);
}

.pessoa__imagem--marcela {
    background-image: url(../../img/pessoas/marcela.jpg);
}

.pessoa__imagem--andreia {
    background-image: url(../../img/pessoas/andreia.jpg);
}

@media screen and (min-width: 0) {
    .pessoa__imagem {
        width: 100%;
        border-radius: 50%;
    }
}

@media screen and (min-width: 767px) {
    .pessoa__imagem {
        width: 100%;
        border-radius: 100%;
    }
}
@media screen and (min-width: 1024px) {
    .pessoa__imagem {
        width: 300px;
        border-radius: 100%;
    }
}